body {
  background-color: #363636;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  color: #09F;
  margin-left: 5px;
}

p {
  color: #f0f0f0;
}

div {
  color: #f0f0f0;
}

.box {
  border: 4px solid #646464;
}

.button {
  background-color: #44af44;
  border: none;
  color: #f0f0f0;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-size: 1.1rem;
  margin: 8px;
  transition: background-color 1s ease;
}

.button:hover {
  background-color: #118811;
}
